---
// IMPORTS
import Layout from "../layouts/Layout.astro";
import data from "../data/site.json";
import { Icon } from "astro-icon/components";
import Card from "../components/Card.astro";

// VARIABLES
const isProd = import.meta.env.PROD;
const isDev = import.meta.env.DEV;
---

<!-- Title and Meta Description are handed over to the Head component -->
<Layout
   title="Welcome to Leos Astro"
   metaDesc="Dies ist die Beschreibung der Startseite"
>
   {
      isProd ? (
         <p class="text-4xl">Dies wird nur in Production Mode angezeigt</p>
      ) : (
         <p class="text-4xl">Dies wird nur im Development Mode angezeigt</p>
      )
   }

   <!-- This comes from Tailwind -->
   <div class="bg-zinc-300">
      <h1>Startseite</h1>
      <p>{data.name}</p>
      <p>{data.nachname}</p>
      <p>Dieser Text ist von {data.name}</p>
      <!-- <p>{data.name} ist {data.person.alter} Jahre alt.</p> -->
      <a href={`https://${data.name}merkel.de`}
         >Webseite von {data.name.toUpperCase()}</a
      >
      <p>https://{data.name.toLowerCase()}merkel.de</p>
      <!-- This comes from styles.css -->
      <Icon name="icon" size={200} color="var(--lm-secondary)" />
      <div class="grid grid-cols-4 gap-4">
         <Card title="Card Titel" body="Dies ist der Bodytext" href="/" />
         <Card title="Card Titel" body="Dies ist der Bodytext" href="/" />
         <Card title="Card Titel" body="Dies ist der Bodytext" href="/" />
         <Card title="Card Titel" body="Dies ist der Bodytext" href="/" />
      </div>
   </div>
</Layout>
